#
# Zentrale Konfiguration - Beispiel
# 
# Hier werden alle Passwörter für Test- und Produktivsysteme abgelegt.
# Bitte in '.env' kopieren und anpassen.
# 


BUILD_NO=2
REGISTRY=docker-registry.itz.uni-halle.de/elearning/studip_vanilla

TIMEZONE=Europe/Berlin
LANG=de_DE.UTF-8
LANGUAGE=de_DE:en
LC_ALL=de_DE.UTF-8


# SSMTP Konfiguration
STUDIP_MAIL_SMTP_SERVER=smtp.uni-halle.de
STUDIP_MAIL_HOST_NAME=studip40_test


# NGINX and PHP-FPM connection details
# NGINX_SERVER_NAME should always be a FQDN under
NGINX_SSL_ENABLED=true
NGINX_FORCE_HTTPS=false
NGINX_PROTOCOL=http
NGINX_SERVER_NAME=141.48.1.69
NGINX_HOST_PORT=10080
NGINX_HOST_SSL_PORT=10443
NGINX_WEB_ROOT=/var/www/studip/public
NGINX_WORKER_PROCESSES=8

# Das Folgende ist normalerweise nicht notwendig
# weil alle Dateien mit den passenden Rechten
# in den Container kopiert werden
#STUDIP_SET_DD_PERMISSION=true


# Stud.IP-MySQL connection parameters
MYSQL_HOST=mariadb
MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=studip
MYSQL_USER=root
MYSQL_PASSWORD=change_me
MYSQL_PORT=3306

# php-fpm configuration
n parameters
PHP_FPM_HOST_PORT=9001
PHP_FPM_WEB_ROOT=/var/www/studip
# PHP-FPM maximum number of child processes
PHP_PM_MAX_CHILDREN=10
# PHP-FPM number of child processes created on startup
PHP_PM_START_SERVERS=6
# PHP-FPM desired minimum number of idle server processes
# should be equal to PHP_PM_START_SERVERS
# and lower than or equal to PHP_PM_MAX_CHILDREN
PHP_PM_MIN_SPARE_SERVERS=6
# PHP-FPM desired maximum number of idle server processes
# should be less than or equal to PHP_PM_MAX_CHILDREN
PHP_PM_MAX_SPARE_SERVERS=9



# Documentation (MkDocs integrated server)
DOCS_PORT=8000

